
  <div class="member">
<div style="border:1px solid #BFEBFB;padding: 15px;margin: 1px;">
  <b>Username</b>&nbsp;:<span style="padding: 40px;"><%= @mem_profile.username %> </span>
</div>
<div style="border:1px solid #BFEBFB;padding: 15px;margin: 1px;">
  <b>E-mail&nbsp;&nbsp;&nbsp;</b>:<span style="padding: 40px;"><%= @mem_profile.email %> </span>
</div>
<div style="border:1px solid #BFEBFB;padding: 15px;margin: 1px;">
  <b>Date of birth&nbsp;</b>:<span style="padding: 40px;"><%= @mem_profile.date_of_birth %> </span>
</div>
</div>